telegram:
  proxy:
  token: ""
  groups: [""]
  owners: [""]
identification_model: "chatgpt"

strategy:
  joined_time: 3
  number_of_speeches: 3
  verification_times: 1

chatgpt:
  proxy: ""
  apikey: ""
  model: "gpt-4o-mini"

message:
  block_hint: "\\#封禁预警\n[%s](%s) 请注意,你的用户名或发言存在违规 \n⚠️已被AI判断为高风险用户，永久封禁 \n\n风险分数：%d \n\n封禁理由：``` %s ```\n\nAI顺便嘲讽你：``` %s ```"

prompt:
  user_info: "该用户的名称为:%s%s,这是该用户的第%d次发言，这个用户在%s加入了群组。"
  text: |
    以下是判断发言是否为垃圾广告的条件
    1.对于新加入群组的用户(加入时间不到1天，发言次数少于3次)，如果他的发言较短，我们会谨慎判断，降低识别为垃圾广告的概率，以免错误封禁。
    2.对于新加入群组的用户，如果他的头几次发布的信息存在很明显的垃圾广告特征(如使用区块链、赌博、色情、金融等关键词，或使用谐音、错别字、同音字等变体来规避关键字检测，或在聊天内容中插入符号、特殊字符、emoji等来混淆信息)，我们应当正确识别并判断，以免错误封禁。
    3.对于群组中已存在的用户(加入群组时间超过1天，发言次数超过3次)，如果他的发言字数较短且没有明显垃圾广告特征，我们应强制认定其发言不是垃圾广告，以免错误封禁。
    4.如果用户的名称中也存在明显的垃圾广告特征，我们也应当提高判定为垃圾广告的概率。

    垃圾广告特征示例:
    - 包含虚假支付机构或银行卡信息，如冒牌支付机构、虚假银行卡购买等；
    - 诱导用户加入群组、点击链接或参与虚假活动;
    - 涉及非法支付、赌博、贩卖禁止物品等违法活动;
    - 提供非法服务，如代开飞机会员、代付、刷单、赌台、出U、贷款、色粉、网赚、交友等。

    请根据以上信息和垃圾广告特征，对用户发言进行判断。
    
    这是该用户的基本资料:%s
    
    双引号内的内容是一条来自该用户的发言:"%s"
    
    根据以上信息，这条发言是垃圾广告或推广信息吗?
    
    请以以下 JSON 结构返回分析结果:
    {"state":<填写0或1，1表示是垃圾广告，0表示不是>,"spam_score":<填写一个0-100的数字，表示垃圾广告的概率>,"spam_reason":"<判断是否为垃圾广告，并提供原因>","spam_mock_text":"<如果识别内垃圾广告,、请进行反讽性的评论、但清注意，在评论中避免使用任何可能暴露用户身份的信息。包括但不限于用户名称、@特号，也不要保留广告所推广的信息、另外，记得提理其他人不要轻易相信此类信息、评论限制在50字以内>"}
    请替换尖括号中的内容，并以"纯文本"形式直接回答上述的JS0N对象，不要包含任何其他的文本。
  image: |
    以下是判断发言是否为垃圾广告的条件
    1.对于新加入群组的用户(加入时间不到1天，发言次数少于3次)，如果他的发言较短，我们会谨慎判断，降低识别为垃圾广告的概率，以免错误封禁。
    2.对于新加入群组的用户，如果他的头几次发布的信息存在很明显的垃圾广告特征(如使用区块链、赌博、色情、金融等关键词，或使用谐音、错别字、同音字等变体来规避关键字检测，或在聊天内容中插入符号、特殊字符、emoji等来混淆信息)，我们应当正确识别并判断，以免错误封禁。
    3、对于群组中已存在的用户(加入群组时间超过1天，发言次数超过3次)，如果他的发言字数较短且没有明显垃圾广告特征，我们应强制认定其发言不是垃圾广告，以免错误封禁。
    4.如果用户的名称中也存在明显的垃圾广告特征，我们也应当提高判定为垃圾广告的概率。
    
    垃圾广告特征示例:
      - 包含虚假支付机构或银行卡信息，如冒牌支付机构、虚假银行卡购买等；
      - 诱导用户加入群组、点击链接或参与虚假活动;
      - 涉及非法支付、赌博、贩卖禁止物品等违法活动;
      - 提供非法服务，如代开飞机会员、代付、刷单、赌台、出U、贷款、色粉、网赚、交友等。
    
    请根据以上信息和垃圾广告特征，对用户发言的图片内容进行判断。
    
    这是该用户的基本资料:%s
    
    根据以上信息，这条发言里面图片包含的信息是垃圾广告或推广信息吗?
    
    请以以下 JSON 结构返回分析结果:
    {"state":<填写0或1，1表示是垃圾广告，0表示不是>,"spam_score":<填写一个0-100的数字，表示垃圾广告的概率>,"spam_reason":"<判断是否为垃圾广告，并提供原因>","spam_mock_text":"<如果识别内垃圾广告,、请进行反讽性的评论、但清注意，在评论中避免使用任何可能暴露用户身份的信息。包括但不限于用户名称、@特号，也不要保留广告所推广的信息、另外，记得提理其他人不要轻易相信此类信息、评论限制在50字以内>"}
    请替换尖括号中的内容，并以"纯文本"形式直接回答上述的JS0N对象，不要包含任何其他的文本。